.root{
    -fx-background-color: black;
}

#calculator-screen{
    -fx-background-color:transparent;
    -fx-text-fill: white;
    -fx-font-size:40px;
    -fx-text-alignment:center-right;
}
Button{
    -fx-background-color: grey;
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-transition:background-color 0.5s, text-fill 0.5s;
}
Button:hover{
    -fx-background-color:white;
    -fx-text-fill:#242546;
}

Button:pressed{
    -fx-opacity:0.4;
}
